body {
  font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial,
    sans-serif !important;
  font-weight: 800;
}
.brand-title {
  background: -webkit-linear-gradient(0deg, #0085ff, #cc42c5);
  font-size: 2em;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.btn {
  font-weight: 800;
}
